
@set print-view {

    :root { 
      padding:8px;
      size:*;
      position:fixed;
      background: #444; color:#ddd; flow:horizontal; 
      font-size:16px;
    }

    aside { 
      width:300px; height:*; flow:vertical; 
    }

    aside > button {
       display:block;
       font:inherit;
       padding: 1em 2em;
       height:1.2em;
       margin:0 *;
    }
    
    form#printers 
    { 
      height:*;
      max-height:max-content; 
      width:max-content; 
      max-width:100%;
      margin:1em *;
      overflow:scroll-indicator;
    }

    form#printers > button {
      display:block;
      white-space: normal;
      width:*;
    }

    :root > div { size:*; }

    :root > div > header { flow:horizontal; border-spacing:0.25em; vertical-align:middle; horizontal-align:center; }

    :root > div > header > input { font:inherit; background:transparent; border:none;  color:#fff;  }
    
    frame { background:none; size:*; }

    frame > pagebox {
      background-color:white;
      box-shadow: none;
    }

    button#close {
      appearance:none;
      foreground:no-repeat 50% 50%;
      foreground-image:url(icon:cancel);
      foreground-size:1.4em;
      fill:#fff;
      size:2em;
      position:absolute;
      right:4px;
      top:4px;
      cursor:pointer;
    }
}