
@set month-view /* style block for the content of the calendar */
{
  :root
  {
    width: 1*;
    height: 1*;
    white-space: nowrap;
    font:system;
  }
 
  :root > table { size:*; border-spacing:1px; }

  :root > table > tbody { size:*; }

  :root > caption {
    text-align:center;
  }

  tr.weekdays {
    font-size:75%;
  }
    
  th.caption > .month  { width:max-content; }
  th.caption > .year   { width:max-content; }

  td 
  {
    width: *;
    height: *;
    text-align:center;
    vertical-align:middle;
    overflow:visible;
  }

  td.day { behavior:clickable; }
       
  th  { text-align:center; }
  td.month.off,
  td.day.off { color: brown; }
  
  td.day.other-month {
    visibility:hidden; /* hide days from other months */
  }

  td.day.past { background:#eee; }
  td.day.today { outline:2px solid color(accent) -1px; }

  td.events {
    background: @BC4;
    cursor:pointer;
  }
  td.events.warning {
    background: @BC2;
  }
  td.events.warning.past {
    background: @BC7;
  }

}

div.month-view { style-set: month-view; }


@set events-view {
  :root { size:* }
  main {
    padding:5%;
    size:*;
    flow:row(div,div,div);
    border-spacing:5%;
    content-vertical-align:middle;
    content-horizontal-align:center;
  }
  
  //main > h2 { text-align:center; } 
  toolbar { content-horizontal-align: center; }
  toolbar > button.next { foreground-image: url(icon:right); }
  toolbar > button.previous { foreground-image: url(icon:left); }
  toolbar > span.year {font-size:140%; font-weight:bold; line-height:@CELL;}
}

