// color markers

// contrast
@const C0 : #ffffff;
@const C1 : #B80000;
@const C2 : #DB3E00;
@const C3 : #FCCB00;
@const C4 : #008B02;
@const C5 : #006B76;
@const C6 : #1273DE;
@const C7 : #004DCF;
@const C8 : #5300EB;
@const C9 : #202020;

// foreground:

@const FC0 : #ffffff;
@const FC1 : #d24b4a;
@const FC2 : #eb8762;
@const FC3 : #fddf5f;
@const FC4 : #61b664;
@const FC5 : #5fa3a9;
@const FC6 : #6ba9ea;
@const FC7 : #5f90e1;
@const FC8 : #9462f3;
@const FC9 : #898989;

// light, background
@const BC0 : #ffffff;
@const BC1 : #EB9694;
@const BC2 : #FAD0C3;
@const BC3 : #FEF3BD;
@const BC4 : #C1E1C5;
@const BC5 : #BEDADC;
@const BC6 : #C4DEF6;
@const BC7 : #BED3F3;
@const BC8 : #D4C4FB;
@const BC9 : #F2F2F2;

@const CELL: 32px; /* "cell" size: toolbar and alike elements size. */
@const CELL_IMAGE : 24px;

//@const TOOLBAR_COLOR : morph(color(accent),lightness:92%, saturation:5%);
//@const LIST_COLOR : morph(color(accent),lightness:96%, saturation:5%);
//@const DOCUMENT_COLOR : morph(color(accent),lightness:98%, saturation:3%);


html {
  var(toolbar-color): morph(color(accent),lightness:92%, saturation:5%);
  var(list-color): morph(color(accent),lightness:96%, saturation:5%);
  var(widget-border): morph(color(accent),lightness:84%, saturation:5%);
  var(widget-back): morph(color(accent),lightness:98%, saturation:3%);
  var(popup-back): #fff1d7;
  var(widget-text): #000;
  var(widget-text-dimmed): #888;
  var(widget-icon): #888;
  var(widget-selection): morph(color(accent),lightness:90%, saturation:30%);
  var(edit-back): #fff;
  var(edit-text): #000;

  var(note-back): #fff;
  var(note-body-back): #fff;
  var(note-text): #000;


  var(menu-back): morph(color(accent),lightness:98%, saturation:3%);
  var(menu-text): #000;
  var(menu-text-dimmed): #888;
}

@mixin TOOLBAR {
  width:*;
  height: @CELL;
  background: var(toolbar-color);
  border-bottom:1px solid var(widget-border);
  font-size:10pt;
}

@set content-toolbar {

  toolbar {
    @TOOLBAR;
    min-height: @CELL;
    height:max-content;
    //font-size:120%;
    //content-vertical-align:middle;
    flow:horizontal;
    border-spacing:0.2em;
    content-vertical-align:top;
  }

  toolbar.band {
    border:none;
  }

  toolbar > select {
    appearance:none;
    display:block;
    height:@CELL;
    vertical-align:top;
  }

  toolbar > select:hover {
    background-color: var(widget-back);
  }

  toolbar > select > popup {
    height:max-content;
    max-height: 480px;
  }

  toolbar > select > button {
    width: 1.4em;
    foreground-image: url(icon:book);
    foreground-size: 1.2em;
    fill: var(widget-icon);
  }

  toolbar > select:hover > button {
    foreground-image: url(icon:down);
  }

  toolbar > button,
  toolbar > div > button {
    appearance:none;
    size:@CELL;
    foreground-repeat: no-repeat;
    foreground-position: 50% 50%;
    foreground-size: 1.5em;
    fill: var(widget-text);
    stroke: none;
  }
  toolbar > div > button:hover,
  toolbar > button:hover {
    background-color: var(widget-back);
  }

  toolbar > div > button:checked,
  toolbar > button:checked {
    background-color: var(widget-back);
  }

  toolbar > div > button:disabled,
  toolbar > button:disabled {
    fill: var(widget-text-dimmed);
  }
}

toolbar.content { style-set: content-toolbar; }

@set popup-menu < std-popup-menu {

  :root {
    background-color:var(menu-back);
    color:var(menu-text);
  }

  li { color:var(menu-text); }

  section {
    color:var(menu-text); 
    padding-left:2em;  
    padding-right:1em; 
    //padding-top:3px; 
    padding-bottom:5px;
  }

  caption {
    color:var(menu-text-dimmed);
  }

  section > .row {
    flow:horizontal;
    border-spacing:3px;
  } 
  icon {
    behavior:clickable;
    size:1.4em;
    //color: color(highlight-text);
    //fill: color(highlight-text);
    fill:var(widget-icon);
  }

  icon:hover {
    foreground-color: color(highlight-hover); 
  }

  icon[color="1"] { fill:@FC1 }
  icon[color="2"] { fill:@FC2 }
  icon[color="3"] { fill:@FC3 }
  icon[color="4"] { fill:@FC4 }
  icon[color="5"] { fill:@FC5 }
  icon[color="6"] { fill:@FC6 }
  icon[color="7"] { fill:@FC7 }
  icon[color="8"] { fill:@FC8 }
  icon[color="9"] { fill:@FC9 }

  icon:checked {
    stroke: color(highlight);
    stroke-width:2px;
  }

  menu.multi-column {
    flow:vertical-wrap;
    //height:max-content;
    height:480px;
    max-height:max-content;
  }

  menu.multi-column > li {
    width:max-content;
  }

}

menu {
  style-set: popup-menu;
}


book {
  display:block;
  background-repeat: no-repeat;
  background-position: 0.2em 50%;
  background-size:1.4em;
  background-image: url(icon:i-bullet);  
  fill:var(widget-icon);
  color:inherit;
  padding-left:1.6em;
  //white-space:pre;
  //overflow-x:hidden;
  //text-overflow:ellipsis;
}

book[color=0] { fill: @FC0; /*color:@BC0;*/ }
book[color=1] { fill: @FC1; /*color:@BC1;*/ }
book[color=2] { fill: @FC2; /*color:@BC2;*/ }
book[color=3] { fill: @FC3; /*color:@BC3;*/ }
book[color=4] { fill: @FC4; /*color:@BC4;*/ }
book[color=5] { fill: @FC5; /*color:@BC5;*/ }
book[color=6] { fill: @FC6; /*color:@BC6;*/ }
book[color=7] { fill: @FC7; /*color:@BC7;*/ }
book[color=8] { fill: @FC8; /*color:@BC8;*/ }
book[color=9] { fill: @FC9; /*color:@BC9;*/ }

book[deleted] { background-image: url(icon:delete); }
book[default] { background-image: url(icon:user); }
book[all]     { background-image: url(icon:star); }
