@import url(globals.css);

@set view {
  :root {
    width:64px;
    min-width:64px;
    max-width:64px;
    height:*;
  }

  toolbar {
    @TOOLBAR;
  }

  button(clear-list) { foreground-image: url(icon:hide); margin-left:*; }
  button(list-ops) { foreground-image: url(icon:cog); }

  notes {
    behavior: virtual-list;    
    display:block;
    flow:vertical;
    overflow-y: scroll-indicator;
    size:*;
    background:var(list-color);
  }

  notes > option {
    font-size:9pt;
    display:block; 
    flow: vertical;
    width:*;
    //border-left:@MARKER-SIZE solid transparent;
    margin:4px 0;
    padding:3px;
  } 

  notes > option.active-event {
    background-image:url(icon:warn);
    background-repeat: no-repeat;
    background-position-top: 1em;
    background-position-right: 1em;
    background-size:1em;
    fill:#f77;
  }

  notes > option:current {
    background-color:var(widget-selection);
    padding:
  }

  notes > option:hover::marker {
    size:1.4em;
    margin:0 0 * *;
    background: url(icon:fail) no-repeat 50% 50%;
    background-size:1.4em;
    fill:var(accent);
    stroke: currentcolor;
    z-index:1;
    cursor:pointer;
  }

  notes > option > picture {
    display:block;
    width:40dip;
    height:50dip;
    foreground-size:contain;
    foreground-position: 0% 0%;
    border:1px solid #aaa;
    margin:*;
    background-color: #fff;
    image-rendering: crisp-edges;
  }

  notes > option > caption {
    overflow-x: hidden;
    white-space:no-wrap;
    text-overflow:ellipsis;
    width:*;
    line-height:1.1em;
    text-align:center;
  }

}