@import url(globals.css);

body {
  margin:0;
  flow:stack;
}


frameset > splitter {
  width:1px;
  background:var(widget-border);
  hit-margin:2px;
}

// middle section, main content 
section.mainview {
  size:*;
  flow:stack;
}

section.mainview > * {
  size:*; 
}

section.mainview:not([view-type="note"]) > .noteview {
  visibility:none; // note: we are not removing note editor from the DOM to preserve its editng state (undo,redo,etc)
}

.disable-on-source:disabled {
  foreground-color:morph(var(accent),opacity:0.5);
}

/*@set popup-dialog {
  :root {
    font:system;
    background: var(toolbar-color);
    padding:0.5em;
    flow:row(label,input);
    border-spacing:0.5em 0.25em;
  }
  :root > button {
    margin:0 *;
  }
}*/

//popup.dialog { }