
@import url(globals.css);

@set md-view {
  plaintext {
    size:*;
    font-size:15px;
    border:none;
    overflow:scroll-indicator;
    padding:0.5em 1em;
  }

  div.filler {
    width:*;
    padding:* 1em;
    text-align:center;
  }

  div.warning {
    size:*;
    font-size:13px;
    line-height:13px; 
    background-color: @BC3;
    white-space:normal;
    vertical-align:middle;
    padding:0 0.5em;
  }


  button(save) { foreground-image: url(icon:save); foreground-size:1.4em; }
  button(undo) { foreground-image: url(icon:undo); }
  button(redo) { foreground-image: url(icon:redo); }

  button(cancel) {
    foreground-image: url(icon:cancel);
    background-color: @C1;
    fill:#fff !important;
  }

  button(cancel):hover {
    background-color: @BC1 !important;
    fill:#fff !important;
  }

  plaintext > text.header { background-color: @BC3; font-weight:bold; }
  plaintext > text.code { background-color: #f0f3fe; }

}