@import url(globals.css);

@set note-view {
  :root {
    size:*;
    background-color: var(widget-back);
  }

  div.stack {
    size:*;
    flow:stack;
  }

  button.new-note {
    foreground-image: url(icon:plus); 
  }

  button.md-view {
    foreground-image: path(M85.333333 682.666667V341.333333h85.333334l128 128 128-128h85.333333v341.333334h-85.333333v-220.586667l-128 128-128-128V682.666667H85.333333m597.333334-341.333334h128v170.666667h106.666666l-170.666666 192-170.666667-192H682.666667V341.333333z); 
    //foreground-size: 1.5em;
  }

  button.src-view {
    foreground-image: url(icon:code); 
  }

  button.export-note {
    foreground-image: url(icon:save-as); 
  }

  button.print-note {
    foreground-image: url(icon:print); 
  }


}