
@import url(globals.css);

@const MARKER-SIZE : 4px;


@set noteslist {
  :root {
    behavior: virtual-list;
    display:block;
    flow:vertical;
    size:*;
    overflow-x:none; 
    overflow-y:scroll-indicator;
    background:var(list-color);
    font:system;
    font-size:14px;
  }

  option {
    display:block; 
    flow: horizontal;
    width:*;
    border-left:@MARKER-SIZE solid transparent;
  } 

  option.active-event {
    background-image:url(icon:warn);
    background-repeat: no-repeat;
    background-position: bottom 1em right 1em;
    background-size:1em;
    fill:#f77;
  }

  option > div {
    width:*;
    padding:0.5em 0 0.5em 0.5em;
    border-spacing: 0.5em;
    flow: grid(1 2,
               1 3);
  }

  option:current {
    background-color:var(widget-selection);
  }

  option picture {
    display:inline-block;
    width:40dip;
    height:50dip;
    foreground-size:contain;
    foreground-position: 0% 0%;
    border:1px solid #aaa;
    margin:*;
    background-color: #fff;
    image-rendering: crisp-edges;
  }

  option caption {
    overflow: hidden;
    width:*;
    line-height:1.1em;
    height:3.3em;
  }

  option text {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:*;
    line-height:1.1em;
    height:1.2em;
  }

  option text > span.www {
    color:blue;
  }

  option tags {
    display:block;
    width:@MARKER-SIZE;
    height:*;
    flow:vertical;
    overflow:hidden;
  }

  option tags > tag {
    display:block;
    width:@MARKER-SIZE;
    height:*;
    color:transparent;
  }

  option tags > tag[color=0] { background-color: transparent; }
  option tags > tag[color=1] { background-color: @FC1; }
  option tags > tag[color=2] { background-color: @FC2; }
  option tags > tag[color=3] { background-color: @FC3; }
  option tags > tag[color=4] { background-color: @FC4; }
  option tags > tag[color=5] { background-color: @FC5; }
  option tags > tag[color=6] { background-color: @FC6; }
  option tags > tag[color=7] { background-color: @FC7; }
  option tags > tag[color=8] { background-color: @FC8; }
  option tags > tag[color=9] { background-color: @FC9; }

  option[book-color=0] { border-color: transparent; }
  option[book-color=1] { border-color: @FC1; }
  option[book-color=2] { border-color: @FC2; }
  option[book-color=3] { border-color: @FC3; }
  option[book-color=4] { border-color: @FC4; }
  option[book-color=5] { border-color: @FC5; }
  option[book-color=6] { border-color: @FC6; }
  option[book-color=7] { border-color: @FC7; }
  option[book-color=8] { border-color: @FC8; }
  option[book-color=9] { border-color: @FC9; }

 }


@set notesbar {
  :root {
    width:220px;
    height:*; 
  }

  //toolbar {
  //  @TOOLBAR;
  //}

  //toolbar.tags {
  //  horizontal-align:center;
  //}

  toolbar > input.search {
    appearance:none;
    display:block;
    padding:* 2.4em * 0.5em;
    width:*;
    height:2em;
    foreground: no-repeat; 
    foreground-position: top 50% right 0.5em;
    foreground-image: url(icon:search);
    foreground-size: 1.2em;
    fill: var(widget-icon);
    //border-right:1px solid var(widget-border);
    overflow-x:hidden;
  }

  toolbar > input.search:not(:empty) {
    background-color: var(widget-back);
    foreground-image: url(icon:cancel);
    foreground-image-cursor:pointer;
  }
  toolbar > input.search:focus {
    background-color: var(widget-back);
  }

  toolbar span.filter {
    behavior:clickable;
    display:block;
    padding:* 2em * 0.5em;
    width:*;
    max-width:max-content;
    height:2em;
    line-height:2em;
    foreground: no-repeat; 
    foreground-position: top 50% right 0.3em;
    foreground-size: 1.2em;
    stroke:none;
    fill: var(widget-icon);
    overflow-x:hidden;
    text-overflow:ellipsis;
    white-space:pre;
  } 

  toolbar span.filter.book 
  {
    foreground-image: url(icon:book);  
  }

  toolbar span.filter.tag 
  {
    foreground-image: url(icon:tag);
    border-left:1px solid var(widget-border);
  }

  toolbar > span.filter:hover {
    background-color: var(widget-back);
    foreground-image: url(icon:cancel);
    foreground-image-cursor:pointer;
    //foreground-size: 1.4em;
  }
  
  toolbar > button.calendar {
    foreground-image: url(icon:calendar);
  }

  toolbar > button.calendar.pending {
    foreground-position: top 1px left 1px !important; 
  }

  toolbar > button.calendar.pending > span.pending {
    margin:* 1px 1px *;
    background: @C2;
    color: #fff;
    font-size:75%;
    padding:0 0.5em;
    line-height:1.4em;
    border-radius:0.7em;
  }

}


