@import url(globals.css);
@import url(utils.css);

@const FONT : Verdana, sans-serif;

@mixin SECTION_HEADER {
  font-family:@FONT;
  font-size:1.25rem;
  height:@CELL;
  padding:0;
}

@mixin SECTION_HEADER_CAPTION {
  color: var(widget-text-dimmed);
  line-height:@CELL;
  padding-left:6px;
  width:*;
  box-sizing:border-box;
  overflow-x:hidden;
} 

@set sidebar {

  :root {
    width:200px;
    height:*;
    background: morph(color(accent),lightness:20%);
    var(widget-text): morph(color(accent),lightness:96%);
    var(widget-text-dimmed): morph(color(accent),lightness:55%, saturation:20%);
    var(widget-selected): morph(color(accent),lightness:50%, saturation:20%);
    var(widget-icon): morph(color(accent),lightness:75%, saturation:20%);
    padding:0;
    overflow:hidden;
  }

  :root:visited {
     transition: width ease 400ms;
  }

  :root:collapsed {
    width:@CELL !important;
  }

  :root > header {
    @SECTION_HEADER;    
    flow:horizontal;
    padding-right:0;
  }

  :root > header > caption {
    @SECTION_HEADER_CAPTION; 
  }

  :root:collapsed > header > caption {
  }

  :root > header > button {
    appearance:none;
    width:@CELL;
    height:*;
    fill:var(widget-text);
    foreground: no-repeat 50% 50%;
    foreground-size:1.2em;
  }

  :root > header > button:hover {
    foreground-color: color(highlight-hover) ;
  }

  :root > header > button(add-new-book) {
    foreground-image: url(icon:plus);
  }

  :root:collapsed > header > button(add-new-book) {
    visibility:collapse;
  }

  :root > header > button(toggle) {
    stroke-width:1.3px;
    stroke:var(widget-text);
    foreground-size:0.8em;
  }

  div.lists {
    size:*;
    box-sizing:border-box;
    overflow-y:scroll-indicator;
    overflow-x:hidden;
  }

  .books-view {
    border:none;
    background:transparent;
    display:block;
    flow:vertical;
    width:*;
    height:max-content;
    font-family:@FONT;
    font-size:1.3rem;
  }

  .books-view option {
    color:inherit;
    flow:horizontal;
    width:*;
    line-height:1.8em;
    border-radius:0;
    padding:0 0 0 @CELL;
    background-repeat: no-repeat;
    background-position: 3px 50%;
    background-size:@CELL_IMAGE;
    margin-right:6px;
  }

  option { fill:var(widget-icon); }

  option[color=0] { fill: @FC0; /*color:@BC0;*/ }
  option[color=1] { fill: @FC1; /*color:@BC1;*/ }
  option[color=2] { fill: @FC2; /*color:@BC2;*/ }
  option[color=3] { fill: @FC3; /*color:@BC3;*/ }
  option[color=4] { fill: @FC4; /*color:@BC4;*/ }
  option[color=5] { fill: @FC5; /*color:@BC5;*/ }
  option[color=6] { fill: @FC6; /*color:@BC6;*/ }
  option[color=7] { fill: @FC7; /*color:@BC7;*/ }
  option[color=8] { fill: @FC8; /*color:@BC8;*/ }
  option[color=9] { fill: @FC9; /*color:@BC9;*/ }

  .books-view option:hover {
    foreground-color: color(highlight-hover) ;
  }

  .books-view option:current {
    background-color:var(widget-selected);
  }

  .books-view option > label {
    display:block;
    width:*;
    white-space:pre;
    overflow-x:hidden;
    text-overflow:ellipsis;
  }

  .books-view option > var {
    display:block;
    width:max-content;
    color: var(widget-text-dimmed);
  }

  .books-view option[deleted] {
    color: var(widget-text-dimmed);
    background-image: url(icon:delete);
  }

  .books-view option[deleted] > label {
    font-size:80%;
    margin:* 0;
  }

  .books-view option[default] {
    background-image: url(icon:user); 
  }

  .books-view option[all] {
    background-image: url(icon:star); 
  }

  .books-view option[custom] { 
    background-image: url(icon:i-bullet);  
    //background-size: 16px;
    //background-position: 8px 50%;
  }

  .tags-atts-view {
    visibility:visible;
    height:max-content;
    transition: height ease 400ms, visibility linear 400ms;
    overflow:hidden;
  }

  :root:collapsed .tags-atts-view {
    visibility:hidden;
    height:0;
  }


  .tags-atts-view header {
    behavior:clickable;
    cursor:pointer;
    @SECTION_HEADER;
  }

  .tags-atts-view header > caption {
    @SECTION_HEADER_CAPTION; 
  }

  .tags-atts-view select { 
    border:none;
    background:transparent;
    display:block; 
    overflow:none;
    width:*;
    height:max-content;
    //min-height:2em;
    font-family:@FONT;
    font-size:1.1rem;
  }

  .tags-atts-view option { 
    foreground-image: url(icon:radio-off);
    foreground-position: 8px 0.4em;
    foreground-size: 1em;    
    //fill:currentcolor;
    //fill:var(widget-icon);
    padding:0 0 0 27px;
    margin:0;
    width:*;
    max-width:auto;
    border-radius:0;
    line-height:1.8em;
  }

  .tags-atts-view option:node {
    foreground-image: url(icon:box-plus-o);
  }
  .tags-atts-view option:node:expanded {
    foreground-image: url(icon:box-minus-o);
  }

  .tags-atts-view option > caption {
    padding:0 6px; 
    flow:horizontal;
    width:*;
    border-radius:0;
  }

  .tags-atts-view option:current {
    background-color:transparent;
  }

  .tags-atts-view option:current > caption {
    background-color:var(widget-selected);
  }

  .tags-atts-view option > caption > label {
    display:block;
    width:*;
    white-space:pre;    
    overflow-x:hidden;
    text-overflow:ellipsis;
  }

  .tags-atts-view option > caption > var {
    display:block;
    width:max-content;
    color: var(widget-text-dimmed);
  }


}