
@import url(globals.css);

@set src-view {
  plaintext {
    box-sizing:padding-box;
    size:*;
    font-size:15px;
    border:none;
    overflow:scroll-indicator;
    padding:0.5em 1em;
  }

  plaintext > text {
    white-space:pre;
    line-height:1.4em;
  }

  div.filler {
    width:*;
    padding:* 1em;
    text-align:center;
  }

  div.warning {
    size:*;
    font-size:13px;
    line-height:13px; 
    background-color: @BC3;
    white-space:normal;
    vertical-align:middle;
    padding:0 0.5em;
  }

  button(save) { foreground-image: url(icon:save); foreground-size:1.4em; }

  button(cancel) {
    foreground-image: url(icon:cancel);
    background-color: @C1;
    fill:#fff !important;
  }

  button(cancel):hover {
    background-color: @BC1 !important;
    fill:#fff !important;
  }

  /*highlightup*/  
  text::highlight(tag) { color: olive; } /*background-color: #f0f0fa;*/
  text::highlight(tag-id) { color: red; } /*background-color: #f0f0fa;*/

  /*source*/  
  text::highlight(number) { color: brown; }
  text::highlight(number-unit) { color: brown; }
  text::highlight(string) { color: teal; }
  text::highlight(keyword) { color: blue; }
  text::highlight(symbol) { color: brown; }
  text::highlight(literal) { color: brown; }
  text::highlight(comment) { color: green; }

}