@import url(../../globals.css);

@set tag-list {
  :root {
    display:block;
    flow:horizontal-wrap;
    //padding:0.25em;
    border-spacing:0.25em 1px;
    width:*;
    height:*;
    min-height:@CELL;
  }  

  label {
    display:block;
    width:max-content;
    //border:1px solid var(widget-border);
    padding:0 2em 0 0.6em;
    line-height:@CELL;
    //border-radius:1em;
    foreground:url(icon:tag) no-repeat;
    foreground-position: right 0.4em top 50%; 
    foreground-size: 1.2em;
    foreground-image-cursor:pointer;
    fill: var(widget-icon);
  }

  label:hover {
    foreground-image:url(icon:cancel);
    background-color: var(widget-back);
  }

  input {
    appearance:none;
    //vertical-align:middle;
    padding:0 0.5em;
    line-height:@CELL;
    height:@CELL;
    display:block;
  }

  input:owns-popup, input:focus, input:hover {
    background-color: var(widget-back);
  }
}


@set suggestions {
  li { line-height:1.4em; }
  li:current { background-color:var(highlight); color:var(highlight-text); }
}