
/* default editing style */

@const WIDGET_BACK: color(accent-lite);

html { 
  font:10pt Verdana,Helvetica,Roboto,sans-serif;
  //font-rendering-mode:snap-pixel; // so caret can be placed properly
  flow:vertical; 
  background:var(note-back);
  content-horizontal-align: center;
}

html > body { 
  background:var(note-body-back);
  color: var(note-text);
  padding:0 var(note-padding,10px); 
  width:*;
  max-width:var(note-width,800px);
  height:*;
}

table { border-collapse:collapse; }
table td {
  border:1dip solid #ddd;
  padding:4dip 8dip;
}
table th {
  //font-weight:bold;
  color:#444;
  border:1dip solid #ddd;
  padding:4dip 8dip;
  background:#eee; 
  text-align:center;
}

pre {
  padding:4dip;
  border:1dip solid #ccc; 
  background: #F0F8FF;
}

html:read-only pre
{
  overflow-x: scroll-indicator;
  max-width:100%;
}

code {
  background: #F0F8FF;
}

dt { font-weight:bold; }

:not(pre):not(code):not(a)::mark(misspell) { text-decoration:wavy underline red; }  

// links in editor 
a:link { 
  behavior:none;  // do nothing
  text-decoration:underline; 
  cursor:text; 
}

a:link:read-only { 
  behavior:hyperlink;  
  text-decoration:underline; 
  cursor:pointer; 
}

html:not(:read-only) br::before {
  display:inline-block;
  width:0.6em;
  height:1.2em;
  foreground-image: url(icon:line-break);
  foreground-repeat: no-repeat;
  foreground-position: 50% 50%;
  foreground-size: 1em;
  fill:#bbb;
}

img { max-width:100%; }
picture { max-width:100%; }

blockquote {
  border-left:0.2em solid #84C5F4;
  margin-left:1em;
  padding-left:0.8em;
}

p[type=urlfrom] {
  text-align:right;
  border-top:1dip solid;
}

mark.a { background: #fcfc93; }  
mark.b { background: #a0f7a3; }  
mark.c { background: #e0a0f7; }

// found words marks:
*::mark(found0) { background-color:#ff0; }
*::mark(found1) { background-color:#f8f; }
*::mark(found2) { background-color:#8ff; }

a[href^="event:"] {
  prototype: EventWidget url(widgets.js);
  display:inline-block;
  text-decoration:none;
  background:no-repeat @WIDGET_BACK;
  background-image: url(icon:calendar);
  background-size:1.2em;
  background-position:left 0.4em top 50%;
  color: var(note-text);
  fill: var(note-text);
  white-space:no-wrap; 
  padding:0.25em 0.5em 0.25em 2em;
  cursor:pointer;
}

dir {
  padding-left:0;
  padding-right:0;
}

dir > li { 
  prototype: CheckListItem url(widgets.js);
  display:block; 
  foreground-image: url(icon:box);
  foreground-size: 1.4em;
  foreground-repeat:no-repeat;
  foreground-position:0 0;
  foreground-image-cursor: pointer;
  padding-left:1.6em;
  margin: 0.5em 0;
  fill:currentcolor;
} 

dir > li.checked { 
  foreground-image: url(icon:box-tick-o);
}

dir > li.mixed {
  foreground-image: url(icon:box-minus-o);
}

:selected {
  outline: 1px highlight -1px; 
  foreground-color:color(highlight-hover);
}
