@import url(../globals.css);

@set toolbar {

  button {
    foreground:no-repeat 50% 50%;
    foreground-size:@CELL_IMAGE;
    fill: var(widget-text);
  }

  button[name="edit:undo"] { foreground-image: url(icon:undo); }
  button[name="edit:redo"] { foreground-image: url(icon:redo); }

  button(span) { foreground-image: url(icon:text); }
  button(span) > menu > li { foreground-size:1.6em; }

  li.remove { foreground-image: url(icon:text-unstyle); }
  li.strong { foreground-image: url(icon:bold); }
  li.em { foreground-image: url(icon:italic); }
  li.underline { foreground-image: url(icon:underline); }
  li.del { foreground-image: url(icon:strikeout); }
  li.code { foreground-image: url(icon:code); }
  li.sup { foreground-image: url(icon:sup); }
  li.sub { foreground-image: url(icon:sub); }
  li.mark { foreground-image: url(icon:box-full); }
  li.mark.a { fill:#fcfc93 !important; stroke:#000 !important; stroke-width:1px; }
  li.mark.b { fill:#a0f7a3 !important; stroke:#000 !important; stroke-width:1px; }
  li.mark.c { fill:#e0a0f7 !important; stroke:#000 !important; stroke-width:1px; }

  button(block) { foreground-image: url(icon:paragraph); }
  button(widget) { foreground-image: url(icon:cog); }

  button.list-ol  { foreground-image: url(icon:list-ol); }
  button.list-ul  { foreground-image: url(icon:list-ul); }
  button.list-dl  { foreground-image: url(icon:list-dl); }
  button.list-dir { foreground-image: url(icon:list-check); }
  button.unindent { foreground-image: url(icon:outdent); }
  button.indent { foreground-image: url(icon:indent); }
  button.blockquote { foreground-image: url(icon:quote); }
  button.pre { foreground-image: url(icon:code); }
  button.table { foreground-image: url(icon:table); }
  button.image { foreground-image: url(icon:image); }
  button.link { foreground-image: url(icon:link); }
  button.unlink { foreground-image: url(icon:unlink); }

  div { 
    height:*; 
    width:*; 
    min-width:0; 
    flow:horizontal; 
    overflow-x:hidden;
    content-horizontal-align:center;
  }
  div > button {
    max-width: 7%;
    foreground-size:65% !important;
  }

  
}


@set link-editor {
  :root {
    background:var(popup-back);
    border: 1px solid var(widget-border);    
    padding:6px;
    flow:horizontal;
    border-spacing:6px;
  }

  input {
    width:32ch;
  }
  input:not(.valid) {
    color:red;
  }

  button {
    padding:0;
    width:1.6em;
    height:*;
    foreground-size:1.4em;
    foreground-position:50% 50%;
  }

  button(apply) {
    foreground-image: url(icon:i-tick);
  }
  button(remove) {
    foreground-image: url(icon:i-cross);
  }
  

}