
@import url(../globals.css);

@set editor {

  :root {
    size:*;
  }

  toolbar.dock {
    width:*;
  } 

  toolbar.dock > section {
    size:*;
  }

  toolbar.dock > section > toolbar {
    border:none;
  }

  button(lock):checked { foreground-image: url(icon:lock); background-color: var(widget-back); }
  button(lock) { foreground-image: url(icon:edit); }

  htmlarea {
    appearance:none;
    size:*;
  }

  htmlarea.initial::marker {
    display:block;
    margin:*;
    width:50%;
    //min-height:48px;
    //height:auto;
    //line-height:48px;
    height:*;
    vertical-align:middle;
    content: "Type or paste text here to create new note…";
    background:no-repeat url(../images/mascot.svg);
    background-size:48px;
    background-position: top 50% left 0px;
    padding-left: 54px;
    color:color(widget-text-dimmed);
    z-index:1;
  }

  .note-info {
    content-horizontal-align:center;
  }

  .note-info > span {
    display:block;
    white-space:no-wrap;
    line-height:@CELL;
    padding-left:1.8em;
    background: no-repeat 0.6em 50%;
    background-size:1.2em;
    fill:color(widget-icon);
  }
  .note-info > span.name.created { background-image: url(icon:file); }
  .note-info > span.name.modified { background-image: url(icon:edit); }
  .note-info > span.date { background-image: url(icon:calendar); }

}